@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 110, 255);
}

#resjogador, #resmaquina {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* cabeça */

header h1 {
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* corpo */
main {
    background-color: white;
    margin: auto;
    text-align: center;
    padding: 10px;
    height: 400px;
    width: 700px;
}

section.container {
    display: flex;
}

div.resjogador, .resmaquina {
    margin: auto;
    background-color: gray;
    border: 1px solid black;
    border-radius: 5px;

    height: 300px;
    width: 340px;
}

/* botoes */
section.escolhas {
    display: flex;
} 

div.botoes, .botaobot {
    background-color: lightgray;
    border: 1px solid black;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
    width: 330px;
    height: 35px;
    padding: 5px;
}

button {
    padding: 6px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0px 10px;
}

button:hover {
    background-color: lightblue;
    border: 2px solid black;
    padding: 8px;
}

/* Resultado */
section.resultado {
    margin: auto;
    padding: 10px;
    font-weight: bold;
    height: 20px;
    width: 100px;
}

/* footer */
footer > p {
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    margin-top: 40px;
}